* {
    all: unset;
    font-family: "Torus", monospace;
    
}

.bar {
    background-color: #282828;
    border-radius: 0px 0px 15px 15px;
    border-width: 2px;
    border-style:solid;
    border-color: #111111 #ebdbb2 #ebdbb2 #ebdbb2;
}

.clock {
    font-family: Torus;

    &.hour {
        color: #ebdbb2;
    }

    &.minute {
        color: #ebdbb2;
    }

    &.separator {
        color: #ebdbb2;
    }
    &.ellipsis {
        font-family: "Torus";
        font-weight: bold;
        color: #ebdbb2;
    }
}
