@keyframes slide-in {
  0% {
    transform: translateX(-100%); /* Start position, off the screen to the left */
  }
  100% {
    transform: translateX(0); /* End position, fully visible on screen */
  }
}
#window {
  background-color: rgba(17, 17, 17, 0);
  font-family: "Torus", monospace;
}

box#main {
  border-radius: 20px;
  background-color: rgb(17, 17, 27);
  border: 2px solid;
  border-color: #cba6f7;
  
}

entry#entry {
  min-height: 40px;
  border-radius: 20px;
  background: transparent;
  box-shadow: none;
  border: none;
}

list#main {
  background-color: rgba(0, 0, 0, 0);
}

#plugin {
  background: transparent;
  padding-bottom: 5px;
}

#match {
  padding: 2.5px;
}

#match:selected {
  background: transparent;
  border-right: 4px solid #cba6f7;
  border-left: 4px solid #cba6f7;
  border-radius: 4px;
  color: #cba6f7;
}

#match:selected label#info {
  color: #b0b0b0;
  animation: fade 0.1s linear
}

@keyframes fade {
  0% {
    color: transparent;
  }

  100% {
    color: #b0b0b0;
  }
}

#match label#info {
  color: transparent;
}

#match:hover {
  background: transparent;
}

label#match-desc {
  font-size: 10px;
  color: #b0b0b0;
}

label#plugin {
  font-size: 14px;
}
