* { 
  all: unset;
  font-family: "torus";
  padding: 1px;
}

#window {
  background-color: rgba(20, 22, 23, 0);
  font-family: "Torus", monospace;
}

box#main {
  border-radius: 20px;
  background-color: rgba(20, 22, 23, 0);
  border: 2px solid;
  border-color: #ebdbb2;

}

entry#entry {
  min-height: 40px;
  border-radius: 20px;
  background: transparent;
  box-shadow: none;
  border: none;
  padding-left: 15px;
}

list#main {
  background-color: rgba(0, 0, 0, 0);
}

#plugin {
  background: transparent;
  padding-bottom: 5px;
}

#match {
  padding: 2.5px;
}

#match:selected {
  background: transparent;
  border-right: 4px solid #cba6f7;
  border-left: 4px solid #cba6f7;
  border-radius: 4px;
  color: #ebdbb2;
}

#match:selected label#info {
  color: #b0b0b0;
  animation: slide-in 3s linear
}

@keyframes fade {
  0% {
    color: transparent;
  }

  100% {
    color: #b0b0b0;
  }
}

#match label#info {
  color: transparent;
}

#match:hover {
  background: transparent;
}

label#match-desc {
  font-size: 10px;
  color: #b0b0b0;
}

label#plugin {
  font-size: 14px;
}
