* {
    all: unset;
    font-family: "Torus", monospace
}

.bar {
    background-color: #11111b;
    border-radius: 15px 15px 15px 15px;
    border-width: 2px;
    border-style:solid;
    border-color: #cba6f7;
    transition: ease-in-out 1s 
}

.clock {
    color: #cdd6f4;
}