* {
    all: unset;
    font-family: "Torus", monospace
}

.bar {
    background-color: #11111b;
    border-radius: 0px 0px 15px 15px;
    border-width: 2px;
    border-style:solid;
    border-color: #111111 #cba6f7 #cba6f7 #cba6f7;
}

.clock {
    color: #cdd6f4;
}

.tray {
    padding-right: 15px;
    background-color: #11111b;
}