* {
    all: unset;
    font-family: "Torus", monospace
}

.bar {
    background-color: #11111b;
    border-radius: 12px, 12px, 0px, 0px;
    border-width: 2px;
    border-style:solid;
    border-color: #cba6f7;
}

.clock {
    color: #cdd6f4;
}