* {
    color: #cdd6f4;
    background-color: #11111b;
}

window#waybar {
    all: unset;
    background: #11111b;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 4;
}

tooltip {
    color: #cdd6f4;
    background: #11111b;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 4px;
}

#custom-notification,
#clock,
#custom-weather,
#tray,
#window,
#wireplumber,
#network,
#cpu,
#memory,
#battery,
#temperature {
    color: #cdd6f4;
    font-size: 12px;
    font-weight: 600;
    padding: 0px 8px 0px 8px;
}

#temperature {
    margin-right: 4px;
}

#custom-notification {
    margin-left: 4px;
    padding-right: 0px;
}
