* {
  font-family: 'Noto Sans', monospace;
  font-size: 16px;
  all: unset;
  color: #b4befe;
  background-color: #11111b;
  margin: 12px;
}

window#waybar {
  background-color: rgba(0,0,0,0);
  border-radius: 15px;
  border-width: 2px;
  border-color: #cba4f7;
}

#custom-arch, #workspaces {
  border-radius: 10px;
  
  margin-top: 5px;
	margin-right: 5px;
  padding-left: 10px;
  padding-right: 10px;
}

#custom-arch {
  font-size: 20px;
	margin-left: 15px;
  
}


#clock, #backlight, #pulseaudio, #bluetooth, #network, #battery{
  border-radius: 10px;
  color: #cdd6f4;
  margin-top: 15px;
  padding-left: 10px;
  padding-right: 10px;
  margin-right: 15px;
}

#backlight, #bluetooth {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  padding-right: 5px;
  margin-right: 0
}

#pulseaudio, #network {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  padding-left: 5px;
}

#clock,