* {
  all: unset;
  font-family: 'Noto Sans', monospace;
  border-radius: 15px;
  font-size: 16px;
  color: #b4befe;
  background-color: #11111b;
  margin: 3px;
  padding-top: 15px;
}

window#waybar {
  border-width: 50px; 
  border-color: #cba4f7;
  border: 2px solid #cba6f7;
}

