* {
  all: unset;
  font-family: 'Noto Sans', monospace;
  font-size: 16px;
  color: #b4befe;
  background-color: #11111b;
  margin: 3px;
}

window#waybar {
  background-color: rgba(0,0,0,0);
  border-radius: 15px;
  border-width: 50px; 
  border-color: #cba4f7;
  border: 3px solid #cba6f7;
}

